<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOV8 FLASK WEB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        .container {
            margin-top: 50px;
        }
        .form-container {
            max-width: 500px;
            margin: auto;
        }
        .btn-upload {
            margin-top: 20px;
        }
        .img-preview {
            max-width: 100%;
            display: none;
            margin-top: 20px;
        }
        .labels, .additional-info {
            margin-top: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f8f8f8;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">OBJECT DETECTION YOLOV8</h1>

        <div class="form-container">
            <form class="p-3 text-center" id="upload-form" action="/" method="post" enctype="multipart/form-data">
                <input class="form-control" type="file" name="file" required>
                <button class="btn btn-primary btn-upload" type="submit">PREDICT</button>
            </form>

            <div class="text-center">
                <img id="uploaded-image" class="img-preview" src="" alt="Uploaded Image">
                <img id="detected-image" class="img-preview" src="" alt="Detected Image" style="margin-top: 20px;">
                <table id="additional-info">
                    <thead>
                        <tr>
                            <th>Makanan</th>
                            <th>Karbo (g)</th>
                            <th>Protein (g)</th>
                            <th>Lemak (g)</th>
                            <th>Range Kalori (kkal)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <table id="total-info">
                    <thead>
                        <tr>
                            <th>Total</th>
                            <th id="total-karbo">0 g</th>
                            <th id="total-protein">0 g</th>
                            <th id="total-lemak">0 g</th>
                            <th id="total-kalori">0 kkal</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <script>
            document.getElementById('upload-form').addEventListener('submit', function(event) {
                event.preventDefault();
                const formData = new FormData(this);
                fetch('/', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    const uploadedImg = document.getElementById('uploaded-image');
                    const detectedImg = document.getElementById('detected-image');
                    const additionalInfoTableBody = document.querySelector('#additional-info tbody');
                    additionalInfoTableBody.innerHTML = '';

                    if (data.detected_img_path) {
                        detectedImg.src = data.detected_img_path;
                        detectedImg.style.display = "block";
                    }

                    let totalKarbo = 0;
                    let totalProtein = 0;
                    let totalLemak = 0;
                    let totalKalori = 0;

                    data.additional_info.forEach(info => {
                        const newRow = additionalInfoTableBody.insertRow();
                        newRow.insertCell().textContent = info.Makanan;
                        newRow.insertCell().textContent = `${info.Karbo} g`;
                        newRow.insertCell().textContent = `${info.Protein} g`;
                        newRow.insertCell().textContent = `${info.Lemak} g`;
                        newRow.insertCell().textContent = `${info['Range Kalori']} kkal`;

                        totalKarbo += parseFloat(info.Karbo);
                        totalProtein += parseFloat(info.Protein);
                        totalLemak += parseFloat(info.Lemak);
                        totalKalori += parseFloat(info['Range Kalori']);
                    });

                    document.getElementById('total-karbo').textContent = `${totalKarbo.toFixed(2)} g`;
                    document.getElementById('total-protein').textContent = `${totalProtein.toFixed(2)} g`;
                    document.getElementById('total-lemak').textContent = `${totalLemak.toFixed(2)} g`;
                    document.getElementById('total-kalori').textContent = `${totalKalori} kkal`;
                });
            });
        </script>
    </div>
</body>
</html>